{% extends 'core/base.html' %}

{% block scripts %}
<script>
    function eliminar_familia(id){
        Swal.fire({
            "title":'¿Desea eliminar la familia seleccionada?',
            "text": 'una vez eliminado no se puede deshacer el cambio',
            "icon": 'question',
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Aceptar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545",
            "cancelButtonColor": "#198754"
        })
        .then(function(result){
            
            if(result.isConfirmed){
                window.location.href= "/eliminarfamilia/"+id+"/"
            }


        })

    }


</script>
{% endblock %}

{% block contenido %}

<div class="col-12 col-md-6 offset-md-3 ">
    <div class="row p-3 mb-2">
    
        <div class="card">
                <div class="card-body"> 
                <h1>Listado de Familias</h1>
                <table class="table table-stripped table-hover table-responsive-sm clearfix">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID familia</th>
                            <th>Nombre</th>
                            <th></th>
                            <th></th>
                        </tr>
                        {% for f in familia %}
                        
                        <tr>
                            <td>{{ f.0 }}</td>
                            <td>{{ f.1 }}</td>
                        
                        <td>
                            <a href="{% url 'modificar_familia' f.0 %}" class="btn btn-info">Modificar</a>
                        </td>
                        <td>
                            <a href="#" onclick="eliminar_familia({{ f.0 }})" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                        {% endfor %}
                    </tbody>

                </table>
                <hr>
            </div>
        </div>

    </div>
</div>

{% endblock %}