{% extends 'core/base.html' %}

{% block scripts %}

<script>
    function eliminar_producto(id){
        Swal.fire({
            "title":'¿Desea eliminar el producto seleccionado?',
            "text": 'una vez eliminado no se puede deshacer el cambio',
            "icon": 'question',
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Aceptar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545",
            "cancelButtonColor": "#198754"
        })
        .then(function(result){
            
            if(result.isConfirmed){
                window.location.href= "/eliminarproducto/"+id+"/"
            }


        })

    }


</script>

{% endblock %}



{% block contenido %}

{% load crispy_forms_tags %}
{% load humanize %}

<div class="col-12 d-flex justify-content-center">
    <div class="row ">    
        <div class="card">
                <div class="card-body"> 
                <h1>Listado de Productos</h1>
                <table class="table table-stripped table-hover table-responsive-sm clearfix">
                    <thead class="thead-dark">
                        <tr>
                            <th>N producto</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Vencimiento</th>
                            <th>Stock</th>
                            <th>Familia</th>
                            <th>Destacado</th>
                            <th>Opciones</th>                    
                        </tr>
                            {% for p in producto %}
                        <tr>                        
                            <td>{{ p.0 }}</td>
                            <td>{{ p.1 | title }}</td>
                            <td>{{ p.3 | intcomma }}</td>
                            <td>{{ p.4 | date}}</td>
                            <td>{{ p.5 }}</td>
                            {% for f in familias %}
                            {% if p.9 == f.0 %}
                            <td>
                                <div value="{{ f.0 }}">{{ f.1 }}</div>
                            </td>
                            {% endif %}
                            {% endfor %}
                            {% if p.8 %}
                            <td>Si</td>
                            {% else %}
                            <td>No</td>
                            {% endif %}
                            <td>
                                <a href="{% url 'modificar_producto' p.0 %}" class="btn btn-info">Modificar</a>
                                <a href="#" onclick="eliminar_producto({{ p.0 }})" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>                    
                    </tbody>
                    {% endfor %}
                </table>
                <hr>
                <div>
                    {% include 'core/paginator.html' %}
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}