{% extends 'core/base.html' %}

{% block scripts %}
<script>
    function eliminar_orden(id){
        Swal.fire({
            "title":'¿Desea eliminar la orden seleccionada?',
            "text": 'una vez eliminado no se puede deshacer el cambio',
            "icon": 'question',
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Aceptar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545",
            "cancelButtonColor": "#198754"
        })
        .then(function(result){
            
            if(result.isConfirmed){
                window.location.href= "/eliminarorden/"+id+"/"
            }


        })

    }


</script>
{% endblock %}
{% load humanize %}
{% block contenido %}
<div class="col-12 col-md-6 offset-md-3 ">
    <div class="row p-3 mb-2">    
        <div class="card">
                <div class="card-body"> 
                <h1>Listado de Ordenes de compra</h1>
                <table class="table table-stripped table-hover table-responsive-sm clearfix">
                    <thead class="thead-dark">
                        <tr>
                            <th>N° Orden de Compra</th>
                            <th>Proveedor</th>
                            <th>Documento</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                        {% for o in orden %}
                        
                        <tr>
                            <td>{{ o.id }}</td>
                            <td>{{ o.proveedor | title }}</td>
                            <td>{{ o.documento }}</td>
                            {% if o.estado == 0 %}
                            <td>Pendiente</td>
                            {% elif o.estado == 1 %}
                            <td>Aprobado</td>
                            {% else %}
                            <td>Rechazado</td>
                            {% endif %}
                            <td>
                                <a href="{% url 'modificar_orden' o.id %}" class="btn btn-info">Modificar</a>
                                {% if user.cargo.id == 2 %}
                                <a href="#" onclick="eliminar_orden({{ o.id }})" class="btn btn-danger">Eliminar</a>
                                {% endif %}
                            </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
                <hr>
            </div>
        </div>

    </div>
</div>

{% endblock %}