{% extends 'app/Base.html' %}
{% load static %}
{% block contenido %}

<div class="container-xxl py-6">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Ingreso Postulacion</h1>
        </div>
        
        <div class="col-lg7 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
            {{error}}
            <form method="POST" enctype="multipart/form-data">
                <div class="row g-3">
                    <div class="col-12">
                        <div class="form-floating">
                        <input type="text" class="form-control" name="descripcion-postulacion" placeholder="descripcion-postulacion" >
                        <label for="descripcion-postulacion">Descripcion Postulacion </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="nombre-producto" placeholder="Nombre Producto">
                            <label for="nombre-producto">Nombre Producto</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="descripcion-producto" placeholder="descripcion Producto">
                            <label for="descripcion-producto">Descripcion Producto</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="float" class="form-control" name="cantidad-producto" placeholder="Cantidad">
                            <label for="cantidad-producto">Cantidad</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="number" class="form-control" name="precio-producto" placeholder="Precio">
                            <label for="precio-producto">Precio</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="file" class="form-control" name="imagen-producto" accept="image/png, .jpeg, .jpg" multiple placeholder="imagen" >
                            <label for="imagen-producto">imagen</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="col-12">
                            <label for="calidad-producto">Calidad</label>
                            <div class="form-floating">
                                <select class="form-select" name="calidad-producto" aria-label="Default select example">
                                    {% for c in calidad %}
                                    <option value="{{c.id_calidad}}">{{c.descripcion_calidad}}</option>
                                    {% endfor %}
                                  </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <input class="btn btn-primary rounded-pill py-3 px-5" type="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}