{% extends 'app/Base.html' %}
{% load static %}
{% block contenido %}
<br>
<br>
<br>
<br><br>
<br>
<div class="container">
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="https://cdn-icons-png.flaticon.com/512/6384/6384868.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ver Postulaciones a ventas</h5>
                    <p class="card-text">Registra tu postulacion para vender tus productos</p>
                    <a href="http://127.0.0.1:3000/postulaciones/" class="btn btn-primary">Entrar</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" >
                <img src="https://cdn-icons-png.flaticon.com/512/1822/1822045.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Productos</h5>
                    <p class="card-text">Ingresa tus productos para venderlos directamente en el mercado</p>
                    <a href="http://127.0.0.1:3000/productores/" class="btn btn-primary">Entrar</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}