{% extends 'app/Base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block contenido %}

<div id="productos" class="container-xxl py-5">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                    <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <h1 class="display-5 mb-3">Postulaciones</h1>                        
                    </div>
                </div>
            </div>
            <div class="col-M-2 align-items-center m-3">
                {% if error == 'error de conexion' %} 
                    <p>Tenemos problemas en estos momentos</p>
                    <img class="img-fluid w-75" src="https://reygif.com/media/5/hombre-pico-62712.gif" alt="">
                {% endif %}
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        {% for v in ventas %}
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="product-item">
                                <div class="text-center p-4">
                                    <span class="text me-1">{{v.estado_venta}}</span>
                                    <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">New</div>
                                </div>
                                <div class="text-center p-4">
                                    <span class="text-primary me-1">{{v.descripcion_venta}}</span>
                                    <span class="text-primary me-1">Fecha limite:{{v.fecha_venta}}</span>
                                </div>
                                <div class="text-center p-4">
                                    <a type="button" class="btn btn-primary" href="{% url 'ingreso_postulacion' v.id_venta %}">ingresar postulacion</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="">Browse More Products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}