{% extends 'app/Base.html' %}
{% load static %}
{% load humanize %}
{% block css %}

{% endblock %}
{% block contenido %}


<br>
<br>
<div id="productos" class="container-xxl py-5">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                    <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <h1 class="display-5 mb-3">Subastas Disponibles</h1>                        
                    </div>
                </div>
            </div>
            {% if error == 'error de conexion' %} 
            <div class="col-M-2 align-items-center m-3">
                    <p>Tenemos problemas en estos momentos</p>
                    <img class="img-fluid w-75" src="https://reygif.com/media/5/hombre-pico-62712.gif" alt="">
            </div>
            {% endif %}
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        {% for v in ventas %}
                        {% if v.estado_venta == 'licitacion' %}
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="product-item">
                                <div class="text-center p-4">
                                    <p class="text-primary me-1">{{v.descripcion_venta}}</p>
                                    <p class="text-primary me-1">Fecha limite: {{v.fecha_venta}}</p>
                                    <p class="text-primary me-1">Estado: {{v.estado_venta}}</p>
                                    {% if v.tipo_venta == '1' %}
                                    <p class="text-primary me-1">Venta Internacional</p>
                                    {% elif v.tipo_venta == '0' %}
                                    <p class="text-primary me-1">Venta Local</p>
                                    {% endif %}
                                </div>
                                <div class="text-center p-4">
                                    <a type="button" class="btn btn-primary" href="{% url 'detalle_subasta' v.id_venta %}">Realizar Puja</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="">Cargar mas ventas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}