{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}

    {% load crispy_forms_tags %}
    <div class="container">
        <br><br><br><br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        
                        <h2>Ingresa tus datos</h2>
                        <hr>
                        <form action="" method="POST">

                            {% csrf_token %}
                            {{form | crispy}}
                            <a class="btn btn-primary" href="{% url 'home' %}">Inicio</a>

                            <input class="btn btn-success float-right" type="submit" value="Ingresar">

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}