{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}

    {% load crispy_forms_tags %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-12 ">
                <div class="card">
                    <div class="card-body">
                        
                        <h2>Crea tu cuenta</h2>
                        <hr>
                        <form action="" method="post">

                            {% csrf_token %}
                            {{form | crispy}}
                            <input class="btn btn-success float-right" type="submit" value="Registrar">

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}