{% extends 'core/base.html' %}

{% load crispy_forms_tags %}
{% load humanize %}

{% block scripts %}

<script>
    function eliminar_usuario(id) {
        Swal.fire({
            "title": '¿Desea eliminar el Usuario seleccionado?',
            "text": 'una vez eliminado no se puede deshacer el cambio',
            "icon": 'question',
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Aceptar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545",
            "cancelButtonColor": "#198754"
        })
            .then(function (result) {

                if (result.isConfirmed) {
                    window.location.href = "/eliminarusuario/" + id + "/"
                }


            })

    }


</script>

{% endblock %}



{% block contenido %}



<div class="col-12 col-md-6 offset-md-3 ">
    <div class="row p-3 mb-2">
        <div class="card">
            <div class="card-body" style="background-color: white;">
                <h1>Listado de Usuarios</h1>
                <table class="table table-stripped table-hover table-responsive-sm clearfix">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Usuario</th>
                            <th>Email</th>
                            <th>Nombre</th>
                            <th>Run</th>
                            <th>Cargo</th>
                            <th>Telefono</th>
                            <th>Dirección</th>
                            <th>Opciones</th>
                            <th></th>
                        </tr>
                        {% for u in usuario %}
                        <tr>
                            <td>{{ u.id }}</td>
                            <td>{{ u.username | title }}</td>
                            <td>{{ u.correo }}</td>
                            <td>{{ u.nombre_completo | title }}</td>
                            <td>{{ u.rut }}</td>
                            <td>{{ u.cargo }}</td>
                            <td>{{ u.telefono }}</td>
                            <td>{{ u.direccion }}</td>
                            <td>
                                <a href="{% url 'modificar_usuario' u.id %}" class="btn btn-info">Modificar</a>
                            </td>
                            <td>
                                <a href="#" onclick="eliminar_usuario({{ u.id }})"
                                    class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                </table>
                <hr>
                <div>
                    {% include 'core/paginator.html' %}
                </div>
            </div>
        </div>
    </div>
</div>






    {% endblock %}