{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}

{% block contenido %}
<div class="col-12 col-md-6 offset-md-3 ">
    <div class="carro.css/row">
        <div class="carro.css/col-lg-12">
            <div class="box-element d-flex text-center align-items-center justify-content-around">
                <h5>Cantidad Total: <strong>{{importe_cant_carro | intcomma}}</strong></h5>
                <h5>Precio Total: <strong>$ {{importe_total_carro | intcomma}}</strong></h5>
                <a style="float:center;margin:5px;" class="btn btn-success" href="{% url "carro:limpiar" %}">Limpiar Carro</a>
            </div>
        </div>
        <br>
        <div class="box-element">
            <div class="cart-row d-flex justify-content-between text-center">
                <div style="flex:1"><strong>Imagen</strong></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>Cantidad</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
                <div style="flex:1"><strong>Eliminar</strong></div>
            </div>
            {% if request.session.carro.items %}
            {% for key, value in request.session.carro.items %}
            <div class="cart-row d-flex justify-content-around align-items-center ">
                <div style="flex:1">
                    <img class="row-image" src="{{value.imagen}}">
                </div>
                <div class="d-flex justify-content-around" style="flex:2">
                    <p>{{value.nombre}}</p>
                </div>
                <div style="flex:1">
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'carro:restar' value.producto_id %}"><img class="chg-quantity"
                                src="{% static 'images/arrow-down.png' %}"></a>
                        <p class="quantity">{{ value.cantidad }}</p>
                        <a href="{% url 'carro:agregar' value.producto_id %}"><img class="chg-quantity"
                                src="{% static 'images/arrow-up.png' %}"></a>
                    </div>
                </div>
                <div style="flex:1" class="d-flex justify-content-center">$ {{value.precio | intcomma}}</div>
                <div style="flex:1" class="d-flex justify-content-center">
                    <a href="{% url 'carro:eliminar' value.producto_id %}"><img class="chg-quantity"
                            src="{% static 'images/basurita.png' %}"></a>
                </div>
                </tr>
            </div>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center">
                        Sin productos
                    </div>
                </td>
            </tr>
            {% endif %}
            <form method="POST" enctype="multipart/form-data" action="{{resultado.url}}?token_ws={{resultado.token}}">
                <input type="hidden" name="precio_total" value="{{importe_total_carro}}">
                <input type="hidden" name="token_ws" value="{{resultado.token}}" disabled>
                <input type="submit" onclick="{% url 'carro:limpiar' %}" value="Pagar" class="btn btn-success">
            </form>
        </div>
    </div>
</div>
{% endblock %}