<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Mercadochile</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Lora:wght@600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    {% load static %}
    <!-- Libraries Stylesheet -->
    <link href="{% static 'app/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Template Stylesheet -->
    {% block css %}
    {% endblock %}
    <link href="{% static 'app/css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
            <div  class="col-lg-6 px-5 text-start">
                <small ><a href='https://goo.gl/maps/CE6nN8mXGC9YCQVw8' class='text-body'><i class="fa fa-map-marker-alt me-2"></i></a>San Carlos de Ancud 400, La Florida, Región Metropolitana, Chile</small>
                <small class="ms-4"><a href="mailto:Contacto@MercadoChile.com" class='text-body'><i class="fa fa-envelope me-2"></i></a>Contacto@MercadoChile.com</small>
            </div>
            <div class="col-lg-6 px-5 text-end">
                <!-- Datos Usuario-->
                {%if cargo != 'Visita'%}
                <div class="fa"><i class="fa fa-address-card me-2 responsive">
                    <small>{{ usuario }}:</small> 
                    <small>{{ cargo }}</small>
                    </i>
                </div>
                {% endif %}
                <small class="ms-2">Siguenos:</small>
                <a class="text-body ms-3" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-twitter"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
            <a href="{% url 'home' %}" class="navbar-brand ms-4 ms-lg-0">
                <h1 class="fw-bold text-primary m-0">Mer<span class="text-secondary">cado</span>Chile</h1>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                    {%if cargo == 'Proveedor'%}
                    <a href="{% url 'postulaciones' %}" class="nav-item nav-link">Postulaciones</a>
                    {% endif %}
                    {%if cargo == 'Proveedor'%}
                    <a href="{% url 'productores' %}" class="nav-item nav-link">Productos</a>
                    {% endif %}
                    {%if cargo == 'Cliente Interno'%}
                    <a href="{% url 'cliente_interno' %}" class="nav-item nav-link">Portal</a>
                    {% endif %}
                    {%if cargo == 'Cliente Interno'%}
                    <a href="{% url 'mercado' %}" class="nav-item nav-link">Mercado</a>
                    {% endif %}
                    {%if cargo == 'Proveedor'%}
                    <a href="{% url 'productores' %}" class="nav-item nav-link">Productores</a>
                    {% endif %}
                    {%if cargo == 'Transportista'%}
                    <a href="{% url 'postulacion' %}" class="nav-item nav-link">Postulacion</a>
                    {% endif %}
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Menu</a>
                        <div class="dropdown-menu m-0">
                            <a href="blog.html" class="dropdown-item">Blog Grid</a>
                            <a href="feature.html" class="dropdown-item">Our Features</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="404.html" class="dropdown-item">404 Page</a>
                        </div>
                    </div>
                    <a href="{% url 'contacto' %}" class="nav-item nav-link">Contacto</a>
                </div>
                <div class="d-none d-lg-flex ms-2">
                    <a class="btn-sm-square bg-white rounded-circle ms-3" href="">
                        <small class="fa fa-search text-body"></small>
                    </a>
                    {% if cargo != 'Visita' %}
                    <a class="btn-sm-square bg-white rounded-circle ms-3" href="{% url 'logout' %}">
                        <small class="fas fa-sign-out-alt"></small>
                    </a>
                    {% else %}
                    <a class="btn-sm-square bg-white rounded-circle ms-3" href="{% url 'login' %}">
                        <i class="fas fa-sign-in-alt text-body"></i>                        
                    </a>
                    {% endif %}
                    <a class="btn-sm-square bg-white rounded-circle ms-3" href="{% url 'carrito' %}">
                        <small class="fa fa-shopping-bag text-body"></small>

                    </a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    <div id="contenido" class="">
        
        {% block contenido %}
        {% endblock %}

    </div>





    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'app/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'app/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'app/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'app/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    {% block js %}

    {% endblock %}
    <!-- Template Javascript -->
    <script src="{% static 'app/js/main.js' %}"></script>
</body>
<footer>
    <div class="container-fluid bg-dark footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h1 class="fw-bold text-primary m-0">Mer<span class="text-secondary">cado</span>Chile</h1>
                    <p>Las mejores frutas al mejor precio</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Direccion</h4>
                    <p><a href="https://goo.gl/maps/CE6nN8mXGC9YCQVw8" class='text-body'><i class="fa fa-map-marker-alt me-3"></i></a>San Carlos de Ancud 400, La Florida, Región Metropolitana, Chile</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+56 9 9876 5432</p>
                    <p><i class="fa fa-envelope me-3"></i>Contracto@Mercadochile.com</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Atajos</h4>
                    <a class="btn btn-link" href="">Sobre nosotros</a>
                    <a class="btn btn-link" href="">Contacto</a>
                    <a class="btn btn-link" href="">Nuestros servicios</a>
                    <a class="btn btn-link" href="">Terminos y condiciones</a>
                    <a class="btn btn-link" href="">Soporte</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">No te pierdas de nada!</h4>
                    <p>Ingrese su correo</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="ejemplo@correo.com">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Registro</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a href="http://127.0.0.1:3000/">MaipoGrande</a>, Todos los derechos reservados.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Desarrollado por <a href="">DESIC</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>