{% extends 'app/Base.html' %}
{% load static %}
{% block contenido %}
<br>
<br>
<br>
<br><br>
<br>
<div class="container">
<div class="card" style="width: 18rem;">
    <img src="https://cdn-icons-png.flaticon.com/512/6384/6384868.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ingresar Pedido</h5>
      <p class="card-text">Registra tus pedidos para comenzar un proceso de venta</p>
      <a href="http://127.0.0.1:3000/pedido/" class="btn btn-primary">Entrar</a>
    </div>
</div>
<br>
<div class="card" style="width: 18rem;">
  <img src="https://cdn-icons-png.flaticon.com/512/994/994649.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ventas</h5>
    <p class="card-text">Revista el estado de tus ventas</p>
    <a href="http://127.0.0.1:3000/listado_ventas/" class="btn btn-primary">Entrar</a>
  </div>
</div>
</div>
{%endblock%}