{% extends 'app/Base.html' %}
{% load static %}
{% block contenido %}

<div class="container-xxl py-6">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Ingreso de Pedido</h1>
            
        </div>
        <div class="col-lg7 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
            {{error}}
            {{message}}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="textarea" class="form-control" name="descripcion" placeholder="Descripcion Pedido">
                            <label for="descripcion">Descripcion Pedido</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="date" class="form-control" name="fecha-sla" placeholder="Fecha de SLA">
                            <label for="fecha-sla">Fecha de SLA</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <input class="btn btn-primary rounded-pill py-3 px-5" type="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}