{% extends 'app/Base.html' %}
{% load static %}
{% load humanize %}
{% block contenido %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container-fluid py-5">
    <div><h1>Resumen de Proceso de Venta</h1></div>
    <div class="container-fluid">
        <div>
            <h2>Venta</h1>
            <div class="table-responsive" >
                <table class="table table-bordered">    
                    <tbody>
                    <tr>
                        <th scope="row">Descripcion</th>
                        <td>{{venta.descripcion_venta}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Estado</th>
                        <td>{{venta.estado_venta}}</td>
            
                    </tr>
                    <tr>
                        <th scope="row">Fecha</th>
                        <td>{{venta.fecha_venta}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <h2>Subasta</h1>
            <div class="table-responsive" >
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th scope="row">Monto</th>
                        <td>{{subasta.monto_subasta}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Estado</th>
                        <td>{{subasta.estado_subasta}}</td>
            
                    </tr>
                    <tr>
                        <th scope="row">Fecha</th>
                        <td>{{subasta.fecha_subasta}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <h2>Postulacion</h1>
            <div class="table-responsive" >
                <table class="table table-bordered">

                    <tr>
                        <th scope="row">Descripcion</th>
                        <td>{{postulacion.descripcion_postulacion}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Estado</th>
                        <td>{{postulacion.estado_postulacion}}</td>
            
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <h2>Producto</h1>
            <div class="table-responsive" >
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th scope="row">Nombre</th>
                        <td>{{producto.nombre_producto}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Descripción</th>
                        <td>{{producto.descripcion_producto}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Cantidad</th>
                        <td>{{producto.cantidad_producto}}</td>
            
                    </tr>
                    <tr>
                        <th scope="row">Precio</th>
                        <td>{{producto.precio_producto}}</td>
            
                    </tr>
                    <tr>
                        <th scope="row">Imagen</th>
                        <td><img class="img-fluid" src="{{producto.imagen_producto}}" height="20" alt=""></td>
                    </tr>
                    <tr>
                        <th scope="row">Calidad</th>
                        <td>{% for c in calidad %}
                            {% if c.id_calidad == producto.id_calidad %}
                                {{c.descripcion_calidad}}
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% if v.estado_venta == 'Entregada' %}
        <form method="POST">
            {% csrf_token %}
            <input class="btn btn-success float-right" type="submit" value="Aceptar" name="Aceptada" href="http://127.0.0.1:3000/listado_ventas_locales/">
            <input class="btn btn-danger float-right" type="submit" value="Rechazar" name="Rechazada"  href="http://127.0.0.1:3000/listado_ventas_locales/">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
