{% extends 'app/Base.html' %}
{% load static %}
{% load humanize %}
{% block contenido %}

<div id="productos" class="container-xxl py-5">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                    <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <h1 class="display-5 mb-3">Frutas</h1>
                        <p>Las mejores frutas al mejor precio</p>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        {% if producto == 'error de conexion' %} 
                        <p>Tenemos problemas en estos momentos</p>
                        <img class="img-fluid w-100" src="https://reygif.com/media/5/hombre-pico-62712.gif" alt="">
                        {% endif %}
                        {% for pro in producto %}
                        {% if pro.saldo_producto == '1' %}
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden">
                                    <img class="img-fluid w-100" src="{{pro.imagen_producto}}" alt="">
                                </div>
                                <div class="text-center p-4">
                                    <a class="d-block h5 mb-2">{{pro.nombre_producto}}</a>
                                    {% for c in calidad %}
                                        {% if c.id_calidad == pro.id_calidad %}
                                        <a class="d-block h5 mb-2">Calidad: {{c.descripcion_calidad}}</a>
                                        {% endif %}
                                    {% endfor %}
                                    <span class="text-primary me-1">${{pro.precio_producto | intcomma}}</span>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-50 text-center border-end py-2">
                                        <a class="text-body" href="{% url 'detalle_producto' pro.id_producto %}"><i class="fa fa-eye text-primary me-2"></i>Ver Producto</a>
                                    </small>
                                    <small class="w-50 text-center py-2">
                                        <a class="text-body" href="{% url 'carro:agregar_home' pro.id_producto %}"><i class="fa fa-shopping-bag text-primary me-2"></i>Agregar al carrito</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="">Cargar Más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}