{% extends 'app/Base.html' %}
{% load static %}
{% block contenido %}
<br>
<br>
<br>
<br><br>
<br>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Comprar Productos</h5>
      <p class="card-text">Ingresa al portal en el cual podras comprar todo tipo de productos al mejor precio</p>
      <a href="http://127.0.0.1:3000/mercado/" class="btn btn-primary">Entrar</a>
    </div>
  </div>


{%endblock%}