{% extends 'app/Base.html' %}
{% load static %}
{% block contenido %}
<br>
<br>
<br>
<br><br>
<br>
<div class="container">
  <div class="row g-3">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card" >
        <img src="https://cdn-icons-png.flaticon.com/512/2649/2649150.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Comprar Productos</h5>
          <p class="card-text">Ingresa al portal en el cual podras comprar todo tipo de productos al mejor precio</p>
          <a href="http://127.0.0.1:3000/mercado/" class="btn btn-primary">Entrar</a>
        </div>
      </div>
    </div>
    {% if empresa != 'Persona Natural' %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card" >
        <img src="https://cdn-icons-png.flaticon.com/512/6384/6384868.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ingresa tu pedido</h5>
          <p class="card-text">Registra tus pedidos para comenzar un proceso de venta</p>
          <a href="http://127.0.0.1:3000/pedido_cliente_interno/" class="btn btn-primary">Entrar</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card" >
        <img src="https://cdn-icons-png.flaticon.com/512/994/994649.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ventas</h5>
          <p class="card-text">Revista el estado de tus ventas</p>
          <a href="http://127.0.0.1:3000/listado_ventas_locales/" class="btn btn-primary">Entrar</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{%endblock%}


