{% extends 'core/base.html' %}

{% load static %}
{% load humanize %}

{% block contenido %}


<hr>
<h2 class="text-center">ÁREA DE ADMINISTRACIÓN</h2>
<hr>
<div class="container">
    <div class="row text-center">
        <div class="col-md-4 pb-1 pb-md-0" style="margin-bottom: 15px;">
            <div class="card">
                <div>
                    <img src="{% static '/images/packaging.png' %}" style="padding: 15px;" class="card-img-top" alt="imagen">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Productos</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'listar_producto' %}" class="btn btn-primary">Administrar</a>
                    <a href="{% url 'agregar_producto' %}" class="btn btn-primary">Agregar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
            <div class="card">
                <div>
                    <img src="{% static '/images/categorias.png' %}" class="card-img-top" style="padding: 15px;" alt="imagen">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Familias</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'listar_familias' %}" class="btn btn-primary">Administrar</a>
                    <a href="{% url 'nueva_familia' %}" class="btn btn-primary">Agregar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
            <div class="card">
                <div>
                    <img src="{% static '/images/boletas.png' %}" class="card-img-top" style="padding: 15px;" alt="imagen">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Boletas</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'listar_boleta' %}" class="btn btn-primary">Administrar</a>
                    <a href="{% url 'nueva_boleta' %}" class="btn btn-primary">Agregar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
            <div class="card">
                <div>
                    <img src="{% static '/images/factura.png' %}" class="card-img-top" style="padding: 15px;" alt="imagen">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Facturas</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'listar_factura' %}" class="btn btn-primary">Administrar</a>
                    <a href="{% url 'nueva_factura' %}" class="btn btn-primary">Agregar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
            <div class="card">
                <div>
                    <img src="{% static '/images/provee..png' %}" class="card-img-top" style="padding: 15px;" alt="imagen">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Proveedores</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'listar_proveedor' %}" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
            <div class="card">
                <div>
                    <img src="{% static '/images/provee..png' %}" class="card-img-top" style="padding: 15px;" alt="imagen">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Orden de Compra</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'listar_orden' %}" class="btn btn-primary">Administrar</a>
                    <a href="{% url 'nueva_orden' %}" class="btn btn-primary">Agregar</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}