{% extends 'core/base.html' %}

{% load static %}
{% load humanize %}

{% block contenido %}


<hr>
<h2 class="text-center">ÁREA DE ADMINISTRACIÓN</h2>
<hr>
<div class="container">
    <div class="row text-center">
        <div class="col-md-4 pb-1 pb-md-0" style="margin-bottom: 15px;">
            <div class="card">
                <div>
                    <img src="{% static '/images/provee..png' %}" class="card-img-top" style="padding: 15px;" alt="imagen">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Orden de Compra</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'listar_orden' %}" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}