{% extends 'core/base.html' %}

{% block contenido %}


<div class="col-12 col-md-6 offset-md-3 ">
    <div class=" row p-3 mb-2 ">
        <div class="card">
                <div class="card-body">
                    <h1>Agregar Proveedor</h1>
    <form action="" method="POST">

        {% csrf_token %}
        <div class= form-group>
        <label for="">Rut Proveedor</label>
        <br>
        <input class="form-control" type="number" name="rut" id="">
        <br>
        <label for="">Nombre Proveedor</label>
        <br>
        <input class="form-control" type="text" name="nombre" id="">
        <br>
        <label for="">Telefono Proveedor</label>
        <br>
        <input class="form-control" class=inputnumber type="number" name="telefono" id="">
        <br>
        <label for="">Rubro Proveedor</label>
        <br>
        <input class="form-control" type="text" name="rubro" id="">
        <br>
        <button type="submit" id="btnGuardar" class="btn btn-primary">Guardar</button>


                    </form>
                    {{mensaje}}
                </div>
        </div>
    </div>
</div>
{% endblock %}